@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans');

body {
  width: 100%;
  margin: 0 auto;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
}

.search-wrapper {
  display: flex;
  width: 100%;
  max-width: 1360px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px 10px;

  .search, .filter {
    display: flex;
    align-items: center;
    height: 50px;
  }

  .MuiSelect-filled {
    background: none;
    padding: 0 0 0 16px;
  }

 .Mui-selected {
   background: none;
 }
}

.loading-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

::-webkit-scrollbar {
  width: 4px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: none;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(154, 154, 154);;
  border-radius: 5px;
}
